<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015069589191-9n7qjsmv18cien7l2j4l0tn1i7drof4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015069589191-9n7qjsmv18cien7l2j4l0tn1i7drof4n</string>
	<key>API_KEY</key>
	<string>AIzaSyB7SFREibNgYSFJ9S8kiL2sqrPpGZPkLEE</string>
	<key>GCM_SENDER_ID</key>
	<string>1015069589191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalFinancial</string>
	<key>PROJECT_ID</key>
	<string>finance-8f9a0</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-8f9a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015069589191:ios:b185cc3b08fd20a96348e2</string>
</dict>
</plist>